<launch>
  <!-- ========================= CLI Arguments ========================= -->

  <!-- Robot initial pose -->
  <arg name="x" default="4.79509"/>
  <arg name="y" default="-2.843890" />
  <arg name="z" default="0.52258" />
  <arg name="yaw" default="3.09072" />
  <!-- Goal Location -->
  <arg name="goal_x" default="-4.523511" />
  <arg name="goal_y" default="-8.772047" />
  <arg name="goal_z" default="0.373011"/>
  
  <!-- GPS Robot Start Location -->
  <arg name="start_latitude" default="49.9000431231652" />
  <arg name="start_longitude" default="8.900039666099984" />
  <!-- GPS Goal Location -->
  <arg name="goal_latitude" default="49.899958091482446" />
  <arg name="goal_longitude" default="8.900122085512681" />
  
  <!-- Set rosparam for GPS Coordinate of Robot & Goal Location -->
  <param name="goal_latitude" type="double" value="$(arg goal_latitude)" />
  <param name="goal_longitude" type="double" value="$(arg goal_longitude)" />
  <param name="start_latitude" type="double" value="$(arg start_latitude)" />
  <param name="start_longitude" type="double" value="$(arg start_longitude)" />

  <!-- Gazebo World file to load -->
  <arg name="world_name" default="$(find intro-to-robotics-workshops)/worlds/example2.world" />

  <!-- ========================= Robot Model ========================= -->
  <!-- Set model path -->
  <env name="GAZEBO_MODEL_PATH" value="$(find parc_robot)/models" />

  <!-- Load URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find parc_robot)/urdf/robot.xacro'" />

  <!-- Generate TF from URDF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- ========================= Simulator ========================= -->
  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="paused" value="false" />
      <arg name="use_sim_time" value="false" />
      <arg name="gui" value="true" />
      <arg name="headless" value="false" />
      <arg name="debug" value="false" />
      <arg name="verbose" value="false" />
  </include>

  <rosparam command="load" file="$(find parc_robot)/config/control.yaml"/>

  <!-- Spawn Robot model in Gazebo -->   
  <node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
                -y $(arg y)
                -z $(arg z)
                -Y $(arg yaw)
                -unpause
                -urdf
                -param robot_description
                -model 'robot'" />


  <!-- Show Goal Location in Gazebo -->
  <node name="spawn_goal_location" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find parc_robot)/models/goal_location/model.sdf -sdf 
                -model goal_location
                -x $(arg goal_x)
                -y $(arg goal_y)
                -z $(arg goal_z)" />


  <!-- ========================= Vizualize ========================= -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find intro-to-robotics-workshops)/rviz/example1.rviz" />
</launch>